html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: inika;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #636060;
}

/* Header styles */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;

    background-color: #EDF2EC;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    margin-top: 52px;
    margin-left: 112px;
}

.header__name {
    margin-block-start: 4px;
    color: #000;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 46px;
    list-style-type: none;
}

.header__item:last-child {
    margin-right: 109px;
}

.header__linc {
    line-height: 134px;
    color: #010201;
    text-decoration: none;
}

.header__linc-first {
    line-height: 134px;
    color: #E06733;
    text-decoration: none;
}

.header__linc:hover, .header__linc:focus, .header__linc:active {
    opacity: .75;
}

/* Header styles end */

main {
    
}

/* Welcome styles */

.welcome {
    position: absolute;
    top: 134px;
    left: 0;
    width: 100%;
}

.welcome__section {
    margin: 0 auto;

    height: 532px;
    width: 1440px;
    background-color: #EDF2EC;
}

.main__welcome {
    display: flex;
    flex-wrap: wrap;
}

.welcome__img {
  margin-top: 62px;
  margin-left: 109px;
  /* margin: 62px 224.2px 0 109px; */
}

.welcome__img-pic {
  width: 448.8px;
  height: 407.36px; 
}

.welcome__title {
  width: 549px;
  height: 340px;

  margin: 98px 109px 94px 224.2px;
}

.intro__title {
    width: 549px;
    height: 101px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;

    margin: 0 0 42px 0;
}

.intro__subtitle {
    width: 525.4421997070312px;
    height: 105px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;

    margin-bottom: 48px;
}

.btn {
  box-sizing: border-box;  
  width: 158px;
  height: 44px;
  margin: 0 388px 94px 0;
  border: 2px solid #E06733;
  border-radius: 10px;
  padding: 14px 27px;
  

  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;  
  text-align: center;
  color: #000000;

  /* display: inline-block;
  vertical-align: top;  
  
  cursor: pointer;

  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;  

  transition: background .1s linear; */  
}

/* Welcome styles end */

/* About styles */

.about {
    position: absolute;
    top: 666px;
    left: 0;
    width: 100%;
}

.about__section {
    margin: 0 auto;

    height: 666px;
    width: 1440px;
    background-color: #ffffff;
}

.main__about {
    display: flex;
    flex-wrap: wrap;
}

.about__title {
    width: 463px;
    height: 102px;
  
    margin: 161px 295px 40px 109px;
  }
  
  .intro__title-about {
      width: 463px;
      height: 102px;
      font-family: inika;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 52px;
      color: #499A18;
  }
  
  .intro__title-about span {
    color: #E06733;
  }

  .intro__subtitle-about {
    width: 605px;
    height: 208px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;

    margin-bottom: 48px;    
  }

  .about__img {
    margin-top: 93px;
    /* margin: 62px 224.2px 0 109px; */
  }
  
  .about__img-pic {
    width: 464px;
    height: 479px; 
  }
