html {
  scroll-behavior: smooth;
  }

body {
  margin: 0 auto;
  padding: 0;

  min-height: 100vh;
  width: 1440px;

  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url(assets/fon.jpg);
}

* {
  box-sizing: border-box;
}

.header {
  border: 1px solid rgb(89, 85, 85);
  background-color: rgb(130, 142, 247);
}

.main {
  border: 1px solid rgb(232, 223, 223);
}

.footer {
  border: 1px solid rgb(96, 91, 91);
  background-color: rgb(130, 142, 247);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  margin: 0 15g0px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.profil {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 60px;
}

.profil__block {
  display: flex;
  flex-wrap: wrap;
  align-items: start;

  margin: 30px 220px;
}

.profil__block__first {
  width: 50%;
}

.profil__block__second {
  margin: 0 0 0 150px;
}

.footer {
  margin: 20px 0 0 0;
}

.footer__logo {
  width: 100px;
  margin: 0 100px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__date {
  margin: 0 60px;
  color: #ffffff;
}




/* .footer__inner {
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  width: 50%;
  min-width: 50%;
}*/